.u-section-1-1 {
  background-image: url("../images/pexels-photo-4755029.jpeg");
  background-position: 50% 100%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Roboto, sans-serif;
  margin: 546px 0 60px 588px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-1-2 {
  background-image: url("../images/pexels-photo-4751260.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Roboto, sans-serif;
  margin: 643px 588px 54px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 {
    background-position: 50% 28.44%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    width: 552px;
    margin-right: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-section-1-3 {
  background-image: url("../images/g62b92bbdfaf0b45f15fa951f404fb28a7900fdae321f943b8815eb835ea93df794a56e6d0023af0cc67aac5be41f2d60983f60f12c6cdaa41d1554ec0f99fa5a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Roboto, sans-serif;
  margin: 39px 0 60px 654px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }
}.u-section-1-4 {
  background-image: url("../images/g81cfbd0d14016d92719f8242264e9e1a6c79b2e8bf904ab17e8b0af0abbe3175d679db42f22db5a4b2659e417b118614b63b6de1c47901575019970af5031d27_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Roboto, sans-serif;
  margin: 513px 588px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-block-3623-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3623-3 {
  position: absolute;
  left: 0;
}

.u-block-3623-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  min-height: 1098px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 400px;
  background-image: none;
  margin: 161px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 640px);
  height: 530px;
  background-image: none;
  margin: -561px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 1140px;
  height: 541px;
  margin: -449px auto 0;
}

.u-section-2 .u-group-1 {
  width: 456px;
  min-height: 416px;
  margin: -137px calc(((100% - 1140px) / 2) + 133px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-group-2 {
  min-height: 380px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-2 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: 24px auto 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -4px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 15px 32px 0;
}

.u-section-2 .u-group-3 {
  width: 546px;
  min-height: 320px;
  margin: -271px auto 0 calc(((100% - 1140px) / 2) + 24px);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px 55px 0 15px;
}

.u-section-2 .u-shape-3 {
  width: 14px;
  height: 265px;
  margin: -292px auto 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1003px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 640px);
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 446px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -42px;
    margin-right: calc(((100% - 940px) / 2) + 133px);
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2) + 24px);
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 899px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 490px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 640px);
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 342px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 62px;
    margin-right: calc(((100% - 720px) / 2) + 133px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-2 {
    min-height: 335px;
    margin-top: 1px;
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2) + 24px);
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 814px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 490px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 257px;
  }

  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + 84px);
  }

  .u-section-2 .u-group-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 12px;
    margin-right: 52px;
  }

  .u-section-2 .u-shape-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 719px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 162px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 509px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 241px;
  grid-gap: 27px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-3 .u-icon-1 {
  width: 89px;
  height: 89px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-3 .u-icon-2 {
  width: 89px;
  height: 89px;
  color: rgb(255, 193, 7) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-3 .u-icon-3 {
  width: 89px;
  height: 89px;
  color: rgb(71, 138, 201) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 34px auto 53px;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 199px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 {
  min-height: 725px;
}

.u-section-4 .u-shape-1 {
  height: 446px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: -286px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 473px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 173px;
  height: 173px;
  background-image: url("../images/gea2517f36e37140fc3f2090fbbb36367be3ab4528ecd53e5400a004f427c04f64fb1d6304acde10e0695c84f8bb0118e01a59335e4a22e94701a9eeba28b0bee_1280.jpg");
  background-position: 50% 50%;
  margin: 11px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  width: 90px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 173px;
  height: 173px;
  background-image: url("../images/g9cb0ce0863aadda1250ec544931621041763b385f1b51f22422a89b011e922cabb7afdb9c9c845f552b369af397b920e6bf1329cb952061c9d42b573969d7294_1280.jpg");
  background-position: 50% 50%;
  margin: 11px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  width: 90px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-4 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-icon-7 {
  height: 100%;
}

.u-section-4 .u-icon-8 {
  height: 100%;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 173px;
  height: 173px;
  object-position: 50% 94.17%;
  background-image: url("../images/gb404e59bee9cb5aa3f08041eea003088696b8fe310a97556dbc6e5d53e2e648c53ff2b5a80993ae4e92b6eb89a71dfe09bdfcd3c4be227521cdd8ee8997e169a_1280.jpg");
  background-position: 50% 50%;
  margin: 11px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  width: 90px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-6 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-9 {
  height: 100%;
}

.u-section-4 .u-icon-10 {
  height: 100%;
}

.u-section-4 .u-icon-11 {
  height: 100%;
}

.u-section-4 .u-icon-12 {
  height: 100%;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 173px;
  height: 173px;
  object-position: 50% 94.17%;
  background-image: url("../images/gf7d6d879fafa6764891ff6532a921f5dab3f82cc9312fd15bfa0f156f7defdfba6b0f536031e1bc1225eef171ed391b0de0d79307c038c8e3db4b688ebae2a38_1280.jpg");
  background-position: 50% 50%;
  margin: 11px auto 0;
}

.u-section-4 .u-text-7 {
  font-weight: 500;
  text-transform: none;
  font-size: 1.875rem;
  width: 90px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-8 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-4 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-13 {
  height: 100%;
}

.u-section-4 .u-icon-14 {
  height: 100%;
}

.u-section-4 .u-icon-15 {
  height: 100%;
}

.u-section-4 .u-icon-16 {
  height: 100%;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: -592px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 390px;
  }

  .u-section-4 .u-text-9 {
    margin-left: calc(((100% - 940px) / 2) + 310px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1048px;
  }

  .u-section-4 .u-text-9 {
    margin-left: calc(((100% - 720px) / 2) + 237px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    height: 447px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-top: -378px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-text-9 {
    margin-left: calc(((100% - 540px) / 2) + 178px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2) + 112px);
  }
}